*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: red solid 1px; */
}
body {
    background-color: #1dcdec;
    font-family: 'Cream Demo', sans-serif;
    min-height: 100vh;
}

.slider-container {
    display: flex;
    height: 100%;
    width: 600%;
    position: relative;
    max-width: 2700px;
    /* overflow: hidden; */
    object-fit: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); */
}
.slider {
    display: flex;
    width:100%;
    height:100%;
    /* margin-left: -100%; */
}
.slider-section{
    width: 100vw;
    height: 100vh;
    float: left;
    /* justify-content: center;
    object-fit: contain;
    align-items: center; */
    /* flex-direction: column; */
    transition: all 1s ease;
}
.video {
    /* display:block; */
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    /* z-index: -1; */
}
.buttons {
    display: block;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    box-shadow: #1dcdec 0px 10px 10px;
    cursor: pointer;
    
}
/* .slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    box-shadow: #1dcdec 0px 10px 10px;
    cursor: pointer;
} */
.slider-btn:hover{
    background: rgba(81, 248, 48, 0.979);
}
.btn-left {
    display: flexbox;
    flex-direction: flex-start;
    float: left;
    left: 10px;
}
.btn-right {
    display: flexbox;
    flex-direction: flex-end;
    float: right;
    right: 10px;
}
.texto h1{
    color : white;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    align-items: flex-end;

}